fastapi==0.115.12
uvicorn==0.34.2
PyJWT==2.10.1
python-dotenv==1.1.0
groq==0.24.0
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
PyPDF2==3.0.1
langchain-core==0.3.59  # Minimal LangChain (saves ~500MB)
langchain-groq==0.3.2
sentence-transformers==4.1.0 --extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0 --index-url https://download.pytorch.org/whl/cpu
motor==3.7.0
bcrypt==4.3.0
aiofiles==24.1.0
