fastapi
uvicorn
PyJWT
python-dotenv
groq
python-multipart
passlib[bcrypt]
PyPDF2
langchain
langchain-groq
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface
motor
psutil
bcrypt
huggingface-hub[hf_xet]
aiofiles
